@import url(http://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);


body {
	min-height: 100px;
	font:16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#333;
	font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
	color:#222;
	font-weight: bold;
}

.jumbotron{
	background-color: transparent;
}

.jumbotron > p{
	font-size: 17px;
}

span {
	color:#7ECBCB;
}
#extra a{
	color:#65A2A2;
}
#navbar a{
	color:#65A2A2;
}
.post-title a{
	color:#65A2A2;
}

.post-title h1, h2{
	color:#477171;
}

