<footer class="footer">
  <div class="container text-center">
<!--         <ul class="list-inline social-buttons">
            <li><a href="http://github.com/mk200789" target="_blank"><i class="fa fa-github-square fa-lg"></i></a></li>
            <li><a href="http://bitbucket.org/mk200789" target="_blank"><i class="fa fa-bitbucket-square fa-lg"></i></a></li>
            <li><a href="https://www.linkedin.com/in/wankimmok" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
            <li><a href="mailto:cafe.mui@gmail.com"><i class="fa fa-envelope fa-lg"></i></a></li>
        </ul> -->
        <p class="footer-text">© 2017 Wan Kim Mok</p>
  </div>
</footer>

<a href="#" class="scrollTop"><i class="fa fa-caret-up"></i></a>