<div id="portfolio">
	<div class="portfolio">
		<h1 class="project-title text-center">Projects</h1>

		<div class="project-section">

			<div class=" line">
				<div class="pure-g ">
					<div class="pure-u-1 pure-u-md-1-2">
						<img src="/img/portfolio/wimb.png"  class="img-responsive extra">
					</div>
					<div class="pure-u-1 pure-u-md-1-2 portfolio_content">
						<h2>Where Is My Bus?</h2>
						<div class="pure-g tag_list">
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									Swift
								</div>
							</div>
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									Mobile
								</div>
							</div>
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									Core Data
								</div>
							</div>
						</div>
						<p>An iOS app to find the nearest mta bus stop, get the bus that stops at thet stop and each of the time of the next coming bus. Where Is My Bus? is built with swift and using the MTA Bus API.</p>
						<a href="https://github.com/mk200789/WIMB" target="_blank" class="btn src" alt="source code"><i class="fa fa-code" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class=" line">
				<div class="pure-g ">
					<div class="pure-u-1 pure-u-md-1-2">
						<img src="/img/portfolio/sxm_alexa_skill.png"  class="img-responsive extra">
					</div>
					<div class="pure-u-1 pure-u-md-1-2 portfolio_content">
						<h2>Sint Maarten Quiz</h2>
						<div class="pure-g tag_list">
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									Alexa
								</div>
							</div>
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									Javascript
								</div>
							</div>
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									Quiz
								</div>
							</div>
						</div>
						<p>An Alexa Skill app that was created to educate others about Sint Maarten.</p>
						<a href="https://www.amazon.com/wan-kim-mok-Sint-Maarten/dp/B01M4Q7KE3" target="_blank" class="btn src" alt="source code"><i class="fa fa-code" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class=" line">
				<div class="pure-g ">
					<div class="pure-u-1 pure-u-md-1-2">
						<img src="/img/portfolio/django_hackathon_starter_api.png"  class="img-responsive extra">
					</div>
					<div class="pure-u-1 pure-u-md-1-2 portfolio_content">
						<h2>Django Hackathon Starter</h2>
						<div class="pure-g tag_list">
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									Django
								</div>
							</div>
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									Python
								</div>
							</div>
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									Ionic
								</div>
							</div>
						</div>
						<p>A Django boilerplate with API examples and several OAuth integrations, includes an Ionic application for both mobile and web applications.</p>
						<a href="https://github.com/DrkSephy/django-hackathon-starter" target="_blank" class="btn src" alt="source code"><i class="fa fa-code" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class=" line">
				<div class="pure-g">
					<div class="pure-u-1 pure-u-md-1-2">
						<img src="/img/portfolio/pascal_compiler1.png"  class="img-responsive extra">
					</div>
					<div class="pure-u-1 pure-u-md-1-2 portfolio_content">
						<h2>Pascal Compiler</h2>
						<div class="pure-g tag_list">
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									Python
								</div>
							</div>
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									Pascal
								</div>
							</div>
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									Compiler
								</div>
							</div>
						</div>
						<p>Pascal compiler written in python. Supports loops, jumps, declarations, basic arithmetics, and more.</p>
						<a href="https://github.com/mk200789/pascal_compiler" target="_blank" class="btn src" alt="source code"><i class="fa fa-code" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="line">
				<div class="pure-g">
					<div class="pure-u-1 pure-u-md-1-2">
						<img src="/img/portfolio/fireembem.png"  class="img-responsive extra">
					</div>
					<div class="pure-u-1 pure-u-md-1-2 portfolio_content">
						<h2>Fire Emblem</h2>
						<div class="pure-g tag_list">
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									Javascript
								</div>
							</div>
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									HTML5
								</div>
							</div>
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									Game
								</div>
							</div>
						</div>
						<p>A Fire Emblem clone, a turned-based strategy role playing game built with ImpactJS.</p>
						<a href="https://github.com/chessmasterhong/WaterEmblem" target="_blank" class="btn src" alt="source code"><i class="fa fa-code" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>

			<div class="line">
				<div class="pure-g">
					<div class="pure-u-1 pure-u-md-1-2">
						<img src="/img/portfolio/super_mario_koopa_krisis_splash.png"  class="img-responsive extra">
					</div>
					<div class="pure-u-1 pure-u-md-1-2 portfolio_content">
						<h2>Super Mario: Koopa Krisis</h2>
						<div class="pure-g tag_list">
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									Javascript
								</div>
							</div>
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									HTML5
								</div>
							</div>
							<div class="pure-u-md-1-3 pure-u-sm-1-3">
								<div class="tag">
									Game
								</div>
							</div>
						</div>
						<p>Super Mario World clone, a 2D platformer game, built with ImpactJS.</p>
						<a href="https://bitbucket.org/DrkSephy/smw-koopa-krisis" target="_blank" class="btn src" alt="source code"><i class="fa fa-code" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
