<div id="showcase">
	<div class="container">
		<div class="showcase">
			<h1 class="post-title text-center">Showcase</h1>

			<br>
			<div class="showcase-section">
				<div class="col-md-6">
					<img src="/img/portfolio/django_hackathon_starter_api.png "  class="img-responsive extra">
				</div>
				<div class="col-md-6">
					<h2>Django Hackathon Starter</h2>
					<p>
						In Spring 2015, I worked on a class project called the <a href="https://github.com/mk200789/django-hackathon-starter">Django Hackathon Starter</a>. The idea of this project is to help developers save time when developing Django applications using/choosing which API to use and figuring how to use OAuth authentication.
					</p>

					<a href="/django-hackathon-starter">Read more</a>
				</div>
			</div>
		</div>
	</div>
</div>