---
layout: default
title: Blog
---

{% for post in site.categories.blog %}
    <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p class="post-meta">
        {{ post.date | date_to_string }}
    </p>

    {% if post.image %}
    <a href="{{ post.url }}">
    <img src="{{ post.image }}" alt="{{ post.title }}" class="img-responsive" />
    </a>
    {% endif %}

<p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords:30 }}[<a style="color:red" href="{{ post.url }}">read more</a>]</p>
{% endfor %}
