---
layout: default
title: Projects
---
<head>
	<script type="text/javascript">
	$(document).ready(function(){
		$('slider1').bxSlider({
			auto: true,
			pager: true,
			slideWidth: 800,
			captions: true
		});
	})
	</script>
</head>

<body>
	<div class="wrapper">
	    <section>
	    	<h1>{{page.title}}</h1>

	    	{% for project in site.categories.projects %}
	    		<h2 class="post-title"><a href ="{{project.url}}">{{project.title}}</a></h2>

	    		{% if project.image %}
	    		<a href="{{project.url}}"><img src="{{project.image}}" alt="{{project.title}}"/></a>
	    		{% endif %}

	    		<p class="post-excerpt">{{ project.excerpt | strip_html | truncatewords:30 }}[<a style="color:red" href="{{ project.url }}">read more</a>]</p>
	    	{% endfor %}					       
	    </section>	    
	</div>
</body>
